body {
	background-color: white;
	font-family: helvetica;
	color: gray;
}

a {
	text-decoration: none;
}

#logo {
	width: 130px;
	float: left;
	padding-top: 65px;
	padding-right: 5px;
	padding-left: 20px;
}

#chemistry {
	letter-spacing: 10px;
	color: #9fa9a3;
	font-weight: bold;
	float: left;
	font-size: 40px;
	padding-top: 70px;
}


#devname {
	padding-top: 120px;
	color: #c5d5c5;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

#devlink {
	padding-top: 95px;
	color: #c5d5c5;
	letter-spacing: 2px;
}

#devlink:hover {
	color: #9fa9a3;
}

#socmed {
	margin-top: -120px;
	text-align: right;
	padding-right: 20px;
}

#socmed a {
	padding: 20px;
	font-size: 20px;
}

#socmed img {
	width: 100px;
}

#twitter {
	text-align: right;
}

nav {
	position: fixed;
	float: right;
	top:0;
	right: 0;
	background-color: #c5d5c5;
	width: 100%;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}

nav a {
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	line-height: 50px;
	padding: 13px;
	border-radius: 20px;
	text-shadow:
    -1px -1px 0 #9fa9a3,
    1px -1px 0 #9fa9a3,
    -1px 1px 0 #9fa9a3,
    1px 1px 0 #9fa9a3;
}

nav a.active {
	background-color: #F3F1E4;
	color: white;
	text-shadow:
    -1px -1px 0 #9fa9a3,
    1px -1px 0 #9fa9a3,
    -1px 1px 0 #9fa9a3,
    1px 1px 0 #9fa9a3;  
}

nav a:hover{
	background-color: #9fa9a3;
}

#periodictable {
	margin-top: 20px;
}

.back {
	background-color: #F3F1E4;
	width: 100%
	margin: -15px;
	height: 630px;
}

.back1 {
	background-color: #E6EEDF;
	width: 100%
	margin: -15px;
	height: 630px;
}

.back2 {
	background-color: white;
	width: 100%
	margin: -15px;
	height: 630px;
}

.column {
	float: left;
	width: 45%;
	padding-left: 3em;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	align-items: center;
	margin-left: -15px;
	margin-right: -15px;
}


h2 {
	font-size: 30px;
	text-align: center;
	color: #9fa9a3;
	letter-spacing: 1px;
	font-weight: bold; 
}

h3 {
	text-indent: 3em;
	color: #c5d5c5;
	text-shadow: 1px 1px 0 #9fa9a3;
}

p {
	padding-left: 6em;
}

footer {
	width: 100%;
	height:100px;
	background-color: #c5d5c5;
	margin-top:200px;
	position: absolute;
	left: 0;
	right: 0;
	line-height: 40px;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow:
    -1px -1px 0 #9fa9a3,
    1px -1px 0 #9fa9a3,
    -1px 1px 0 #9fa9a3,
    1px 1px 0 #9fa9a3;  
}

#gitlink {
	color: white;
	font-weight: bold;
}

#gitlink:hover {
	color: #F3F1E4;
}

img {
	border-radius: 15px;
}

table {
	table-layout: fixed;
	border-radius: 10px;
	font-size: 20px;
}

th:hover {
	background-color: gray;
	color: white;
}

.nonmetals {
	background-color: #E5EFDF;
}
.alkalimetals {
	background-color: #F3F1E3;
}

.alkalinearths {
	background-color: #E3E0CC;
}

.transitionmetals {
	background-color: #F0F0F0;
}

.basicmetals {
	background-color: #C5D5C5;
}

.metalloids {
	background-color: #9FA9A3;
}

.halogens {
	background-color: #DEEEE6;
}

.noblegases {
	background-color: #C9DFD7;
}

.lanthanides {
	background-color: #BCC8A9;
}
.actinides {
	background-color: #E6F1D4;
}
#lanthanide {
	margin-top: 9px;
	display: none;
	position: absolute;
}

#actinide {
	margin-top: 80px;
	display: none;
	position: absolute;
}

button {
    display:inline-block;
    width: 100%;
    padding: 30px 5px 30px 5px;
    font-family: helvetica;
    font-size: 10px;
    font-weight: bold;
    color: gray;
}

#lanthanidebutton {
	background-color: #BCC8A9;
	border: none; 
}

#actinidebutton {
	background-color: #E6F1D4;
	border: none; 
}

#lanthanidebutton:hover {
	background-color: gray;
	color: white;
}

#actinidebutton:hover {
	background-color: gray;
	color: white; 
}
















