/* TEXT ELEMENTS */

body {
	background-color: white;
	font-family: helvetica;
	color: gray;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: montserratBlack;
	src: url(Montserrat/Montserrat-Black.ttf);
}

@font-face {
	font-family: montserratBold;
	src: url(Montserrat/Montserrat-bold.ttf);
}

@font-face {
	font-family: montserratSemiBold;
	src: url(Montserrat/Montserrat-SemiBold.ttf);
}

/* NAVIGATION BAR */

nav {
	position: fixed;
	float: right;
	top:0;
	right: 0;
	background-color: #c5d5c5;
	width: 100%;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 9999999;
}

nav a {
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	line-height: 50px;
	padding: 13px;
	border-radius: 20px;
	text-shadow:
    -1px -1px 0 #9fa9a3,
    1px -1px 0 #9fa9a3,
    -1px 1px 0 #9fa9a3,
    1px 1px 0 #9fa9a3;
}

nav a.active {
	background-color: #F3F1E4;
	color: white;
	text-shadow:
    -1px -1px 0 #9fa9a3,
    1px -1px 0 #9fa9a3,
    -1px 1px 0 #9fa9a3,
    1px 1px 0 #9fa9a3;  
}

nav a:hover{
	background-color: #9fa9a3;
}

nav input[type=text] {
	padding: 0.5em;
	border: none;
	margin-left: 2em;
	font-size: 14px;
	border-radius: 15px;
	text-indent: 10px;
	background-color: #F3F1E4;
	color: gray;
}

/* HEADER */
header {
	margin-top: -1em;
}


#logo {
	width: 130px;
	float: left;
	padding-top: 4em;
	padding-right: 1em;
	padding-left: 1.5em;
}

#chemistry {
	letter-spacing: 10px;
	color: #9fa9a3;
	font-weight: bold;
	float: left;
	font-size: 70px;
	padding-top: 30px;
	font-family: montserratBlack;
}


#devname {
	padding-top: 8.1em;
	color: #c5d5c5;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

#devlink {
	color: #c5d5c5;
	letter-spacing: 2px;
	font-family: montserratSemiBold;
}

#devlink:hover {
	color: #9fa9a3;
}

#socmed {
	margin-top: -8em;
	text-align: right;
	padding-right: 20px;
}

#socmed a {
	padding: 20px;
	font-size: 20px;
}

#socmed img {
	width: 100px;
}

/* TEXT ELEMENTS */

h1 {
	text-align: center;
}
h2 {
	font-size: 30px;
	text-align: center;
	color: #9fa9a3;
	letter-spacing: 1px;
	font-weight: bold;
}

h3 {
	text-indent: 2em;
	color: #c5d5c5;
	text-shadow: 1px 1px 0 #9fa9a3;
}

p {
	padding-left: 4em;
	font-size: 20px;
}

ul {
	line-height: 2em;
	font-size: 20px;
	font-family: times new roman;
	font-size: 20px;
}

/* BACK DIVS 0(SAND), 1(MINT), 2(WHITE) */

.twocolumn {
	float: left;
	width: 46%;
	padding-left: 2em;
}

.fourcolumn {
	float: left;
	width: 26%;
	padding-left: 1.5em;
	overflow: scroll;
	margin: -20px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	align-items: center;
	margin-left: -15px;
	margin-right: -15px;
}

.back {
	background-color: #F3F1E4;
	width: 100%
	margin-top: -15px;
	height: 25%;
	padding: 20px;
}

.back1 {
	background-color: #E6EEDF;
	width: 100%
	margin: -15px;
	height: 630px;
}

.back2 {
	background-color: white;
	width: 100%
	margin: -15px;
	height: 630px;
}

/* TABLE ELEMENTS */

main {
	margin-top: -5em;
}

table {
	table-layout: fixed;
	border-radius: 10px;
	font-size: 20px;
}

th {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}
th:hover {
	animation-name: fade;
	animation-duration: 30s;
}

@keyframes fade {
	3% {
		background-color: gray;
		color: white;
	}

	100% {
		background-color: gray;
		color: white;
	}
}

td {
	font-size: 15px;
	padding: 20px 0px 20px 0px;
	text-align: center;
}

.nonmetals {
	background-color: #E5EFDF;
}
.alkalimetals {
	background-color: #F3F1E3;
}

.alkalinearths {
	background-color: #E3E0CC;
}

.transitionmetals {
	background-color: #F0F0F0;
}

.basicmetals {
	background-color: #C5D5C5;
}

.metalloids {
	background-color: #9FA9A3;
}

.halogens {
	background-color: #DEEEE6;
}

.noblegases {
	background-color: #C9DFD7;
}

.lanthanides {
	background-color: #BCC8A9;
}

.actinides {
	background-color: #E6F1D4;
}

#lanthanide {
	margin-top: 9px;
	position: absolute;
	z-index: 999999;
}

#actinide {
	margin-top: 80px;
	position: absolute;
	z-index: 999999;
}

button {
    display:inline-block;
    width: 100%;
    padding: 31px 5px 31px 5px;
    font-family: helvetica;
    font-size: 10px;
    font-weight: bold;
    color: gray;
}

#lanthanidebutton {
	background-color: #BCC8A9;
	border: none; 
}

#actinidebutton {
	background-color: #E6F1D4;
	border: none; 
}

#lanthanidebutton:hover {
	animation-name: fade;
	animation-duration: 30s;
}

#actinidebutton:hover {
	animation-name: fade;
	animation-duration: 30s;
}

#atomicmass {
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	margin-bottom: -10px;
}

#atomicnum {
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	border:0px;
	margin-top: -15px;
	margin-bottom: 3px;
}

/* LEFT ARROW, RIGHT ARROW, BOTTOM ARROWS */

#larrow {
	margin-top: 100px;
}

#larrowtail {
	font-size: 15px;
	background-color: #828282;
	float: left;
	width: 600px;
	height: 25px;
	color: white;
	transform: rotate(-90deg);
	margin-left: -18em;
	margin-top: 280px;
	text-align: center;
	padding-top: 5px;
	position: absolute;
}

#larrowhead {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 30px 25px;
	border-color: transparent transparent #828282 transparent;
	margin-left: 6px;
	padding-top: 15px;
}

#rarrow {
	margin-top: -33em;
}

#rarrowtail {
	font-size: 15px;
	background-color: #828282;
	float: right;
	width: 600px;
	height: 25px;
	color: white;
	transform: rotate(90deg);
	text-align: center;
	margin-top: 2.5em;
	position: absolute;
	margin-left: 72.9em;
	padding-top: 5px;
}

#rarrowhead {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 30px 25px;
	border-color: transparent transparent #828282 transparent;
	margin-top: 21.3em;
	margin-right: 0.3em;
	z-index: 99999;
	transform: rotate(180deg);
	float: right;
}

#barrow1 {
}

#barrowtail1 {
	font-size: 15px;
	background-color: #828282;
	width: 60em;
	height: 25px;
	color: white;
	text-align: center;
	padding-top: 5px;
	position: absolute;
	margin-top: -2.6em;
	right: 19.4%;
}

#barrowhead1 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 30px 25px;
	border-color: transparent transparent #828282 transparent;
	padding-top: 20px;
	transform: rotate(90deg);
	right: 50%;
	margin-left: 71.9em;
}

#barrow2 {
}

#barrowtail2 {
	font-size: 15px;
	background-color: #828282;
	width: 60em;
	height: 25px;
	color: white;
	text-align: center;
	padding-top: 5px;
	position: absolute;
	margin-top: -2.6em;
	right: 17.6%;
}

#barrowhead2 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 30px 25px;
	border-color: transparent transparent #828282 transparent;
	padding-top: 20px;
	transform: rotate(270deg);
	margin-left: 14.5em;
}

/* FOOTER*/

#gitlink {
	color: white;
	font-weight: bold;
	font-family: montserratSemiBold;
}

#gitlink:hover {
	color: gray;
}

#physics {
	letter-spacing: 10px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	margin: 0px;
	font-family: montserratBlack;
}

#physics:hover {
	color: gray;
}

footer {
	width: 100%;
	height:170px;
	background-color: #c5d5c5;
	margin-top:30em;
	position: absolute;
	left: 0;
	right: 0;
	line-height: 40px;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px; 
}




